* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-text: #81fbbb;
  --base-body: #292738;
  --base-card: #363447;
}

body {
  font-size: 1rem;
  font-weight: 400;

  background: var(--base-body);
}

body,
input,
label,
select,
textarea {
  font-family: 'Inter', sans-serif;
}
