.app {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}

.contentHeader {
  display: grid;
  grid-template-columns: 25% 29% 42%;
  gap: 1rem;
}
